.vscode/
*.obj
*.exe
*.csv
*.som
*.set

gtest/
docs/html/
docs/latex/
__pycache__/
html/
latex/
cmake-build-debug/
cmake-build-release/
.idea/
Debug/
Release/
.vs/
/cmake-build-debug
/cmake-build-release
/cmake-build-release
TestResults/
packages/
*.config
!App.config

